<!-- templates/auth.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login or Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h2>Login</h2>
    <form id="login-form">
        <input type="text" id="username" name="username" placeholder="Username" required /><br>
        <input type="password" id="password" name="password" placeholder="Password" required /><br>
        <button type="submit">Login</button>
    </form>

    <h2>Register</h2>
    <form id="register-form">
        <input type="text" id="user" name="username" placeholder="Username" required /><br>
        <input type="text" id="mail" name="email" placeholder="Email" required /><br>
        <input type="password" id="passwd" name="password" placeholder="Password" required /><br>
        <button type="submit">Register</button>
    </form>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#login-form').submit(function (e) {
        e.preventDefault();

        const formData = {
            username: $('#username').val(),
            password: $('#password').val()
        };

        $.ajax({
            type: 'POST',
            url: '/api/login',
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: () => window.location.href = '/',
            error: (err) => alert('Login failed')
        });
    });

    $('#register-form').submit(function (e) {
        e.preventDefault();

        const formData = {
            username: $('#user').val(),
            email: $('#mail').val(),
            password: $('#passwd').val()
        };
        console.log(formData)
        $.ajax({
            type: 'POST',
            url: '/api/register',
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: () => window.location.href = '/',
            error: (err) => alert('Registration failed')
        });
    });
</script>

</html>